<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.data.theme.author }}">
    <meta name="description" content="{{ site.data.theme.description }} {{ page.description }}">

	<title>{{ page.title }} | {{ site.data.theme.title }}</title>

	<link href="https://mediclassics.kr/img/favicon.ico" rel="shortcut icon" type="image/x-ico" />
	<link href="https://mediclassics.kr/img/favicon.ico" rel="icon" type="image/x-ico" />

    <!-- Bootstrap Core CSS -->
    <link href="{{site.baseurl}}/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{site.baseurl}}/assets/css/1-col-portfolio.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

	<link href="{{site.baseurl}}/assets/css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<!-- Navigation -->
	{% include navi.html %}

    <!-- Page Content -->
    <div class="container">


		{{ content }}

        <hr>

        <!-- Footer -->
		{% include footer.html %}

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{site.baseurl}}/assets/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
	<!-- Promise on IE -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>

	{% include angular.html %}

	{% include analytics.html %}

</body>

</html>
